.message {
    border: 1px solid orange;
    padding: 10px;
}
.message-image {
    width: 100px;
    height: 100px;
}
.message-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}