.chat-form {
    margin-bottom: 10px;
    border: 1px solid yellow;
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 30px 0;
    background: darkgray;
}
.chat-form input {
    outline: none;
    padding: 10px;
}